.carousel-caption {
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    padding-bottom: 30px;
}

.carousel-caption h3 {
    width: 80%;
    margin: auto;
    padding-bottom: 25px;
}

.carousel-caption h1 {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
}

@media (min-width: 360px){
    .d-md-block {
        display: block!important;
    }
}