.footer {
	background-color: black;
	color: white;
	margin-top: 50px;
	padding: 30px 0;
}

.footer h2 {
	margin: 50px 0;
}

.footer p {
	font-size: 14px;
	margin: 10px 0;
}

#social-icon {
	width: 25px;
}

#social-icon:hover {
	transform: scale(0.9, 0.9);
	transition: 0.1;
}

.footer .form-control {
    width: 100%;
}