.header a {
	text-decoration: none;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.header-top {
	margin: 20px auto;
}

.langbar ul {
	margin: 0;
}

.langbar li {
	list-style-type: none;
	text-transform: uppercase;
	font-size: 14px;
	display: inline;
}

.langbar li::after {
	content: "|";
	vertical-align: text-bottom;
}

.langbar li:last-child::after {
	content: none;
}

.langbar a {
	vertical-align: top;
	padding: 0 4px;
	font-weight: 600;
}

.header-item {
	display: inline-block;
	vertical-align: middle;
	padding: 10px;
}

.header-top .form-control {
	padding: 0 8px;
	font-size: 14px;
	border: none;
}

.header-item .form-inline {
	border-bottom: 2px solid;
}

.header-top .btn-link {
	color: black;
	text-transform: uppercase;
	cursor: pointer;
}

.header-top .btn-link:hover {
	color: white;
	background-color: black;
	text-decoration: none;
	border-radius: 0;
}

.header-item p {
	display: inline;
}

.nav {
	display: block;
}

.nav-tabs {
	border: none;
}

.nav-tabs a {
	font-size: 20px;
	text-transform: uppercase;
    font-weight: 600;
}

.nav-tabs .nav-item {
	width: 49.5%;
	text-align: center;
	background-color: #ededed;
	text-decoration: none;
	border: none;
}

.nav-tabs .nav-item:hover {
	background-color: #d1d1d1;
}

.nav-tabs .nav-link {
	border: none;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	font-size: 20px;
	color: white;
	background-color: black;
	border-radius: 0;
	border-color: transparent;
    font-weight: 600;
}

.navbar .nav-item.active {
	border-bottom: 2px solid white;
}

.navbar {
	background-color: #000000;
	color: white;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.navbar a {
	text-transform: uppercase;
}

.navbar-toggler-icon {
	background-image: url(../../assets/img/menu-burger.svg);
}

.navbar-toggler {
    font-size: inherit;
    float: right;
}

#menu-caption {
    margin-left: auto;
    margin-bottom: 0;
    text-transform: uppercase;
}

.navbar-nav {
	width: 100%;
}

.navbar-nav li {
	margin: auto;
}

.navbar .nav-item {
	border-bottom: 2px solid black;
}

.navbar .nav-item:hover {
	border-bottom: 2px solid white;
}

.dropdown-menu {
	top: 97%;
	left: -16px;
	padding: 0;
}

.dropdown-item {
	padding: 12px 24px
}

.dropdown-item:focus,
.dropdown-item:hover {
	color: white;
	background-color: black;
}
