body {
    background: url(../../assets/img/big-bg-1.png) center top no-repeat, url(../../assets/img/big-bg-2.png) center top no-repeat, url(../../assets/img/big-bg-3.png) center top no-repeat, url(../../assets/img/big-bg-4.png) center top no-repeat;
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: right top, left top, center top;
    background-size: cover;
}

.alert-success {
    color: #115805;
    background-color: #d7e8d6;
    border: none;
    font-size: 20px;
    text-align: center;
}

.alert-success p {
    margin: 16px;
}

.alert {
    margin-bottom: 0;
    border-radius: 0;
}

.parallax-bg {}

.dropdown-menu {
    border-radius: 0;
    border: none;
}

.main-content {
    margin-top: 50px;
}

.grid-right {
    order: 2;
    -webkit-order: 2;
    -ms-flex-order: 2;
}

.grid-main {
    order: 1;
    -webkit-order: 1;
    -ms-flex-order: 1;
}

.btn {
    font-weight: 600;
}

.btn-primary {
    color: white;
    border: 3px double white;
    background: #000000;
    outline: 0;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.btn-primary:hover {
    color: black;
    border: 3px double black;
    background: #ffffff;
    outline: 0;
    border-radius: 0;
}

.btn-lg {
    font-size: 14px;
}

.btn-secondary {
    color: black;
    border: 3px double black;
    background: #ffffff;
    outline: 0;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
}

.btn-secondary:hover {
    color: white;
    border: 3px double white;
    background: #000000;
    outline: 0;
    border-radius: 0;
}

.btn-secondary:disabled {
    background-color: white;
    border-color: #bab9b9;
    color: #bab9b9;
    cursor: default;
}

.btn-search {
    color: black;
    border: 3px double black;
    background: #ffffff;
    outline: 0;
    border-radius: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
}

.btn-search:hover {
    color: white;
    border: 3px double white;
    background-color: #000000;
    outline: 0;
    border-radius: 0;
}

.dropdown-menu {
    transition: none;
    box-shadow: 0px 9px 19px 1px rgba(0, 0, 0, 0.1);
}

#schedule-all {
    float: right;
    margin-top: 10px;
}

#attention {
    color: #bc0000;
}

.content-link {
    text-decoration: underline;
    font-weight: @bold;
}

.content-link:hover {
    text-decoration: none;
    font-weight: @bold;
}

.cover-photo {
    padding: 0;
}

.cover-photo img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}

.sm-gallery img {
    width: 50%;
    float: left;
    padding: 10px;
}

.production-crew p {
    margin: 0;
}

.table {
    margin-bottom: 0;
}

.table td {
    border: none;
}

.table-schedule td {
    font-weight: @bold;
    padding: 15px;
    vertical-align: middle;
}

.table-schedule a {
    text-transform: uppercase;
}

.table-schedule td:first-child {
    padding: 15px 15px 15px 0;
}

.table-schedule td:last-child {
    padding: 15px 0px 15px 15px;
    text-align: right;
}

.table-schedule td {
    border-top: 1px solid black;
}

.table .clickable-row {
    cursor: pointer;
}

.table-roles td {
    font-weight: @bold;
    padding: 15px;
}

.table-roles p {
    margin-bottom: 0;
}

.table-roles td:first-child {
    padding: 15px 15px 15px 0;
}

.table-roles td:last-child {
    padding: 15px 0px 15px 15px;
}

.table-roles td {
    border-top: 1px solid black;
}

.table-roles tr:last-child {
    border-bottom: 1px solid black;
}

#author {
    font-weight: @regular;
}

.media-item {
    margin-top: 20px;
}

.media-item h4 {
    margin-bottom: 5px;
}

.media-item p {
    display: inline;
}

.media-item a {
    text-decoration: underline;
}

#media-date::before {
    content: "| ";
}

.video-component iframe {
    width: 49.5%;
    height: 200px;
}

.gallery-component img {
    width: 20%;
    display: inline-block;
    float: left;
    padding: 0px 5px 5px 0;
}

.upcoming-component button {
    width: 100%;
}

#production-poster {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

#news-poster {
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.item-production a:hover {
    text-decoration: none;
}

.item-production:hover #production-poster {
    top: -10px;
}

.item-production:hover #news-poster {
    top: -10px;
}

.item-people img {
    width: 100%;
    margin-top: 30px;
    position: relative;
    top: 0;
    transition: top ease 0.3s;
}

.item-people:hover img {
    top: -10px;
}

.item-people a:hover {
    text-decoration: none;
}

.item-people h2 {
    margin-top: 30px;
}

.thumb-pic {
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.thumb-pic img {
    width: 100%;
    height: 100%;
}

.thumbnail {
    position: relative;
    width: 110px;
    height: 110px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail img.portrait {
    width: 100%;
    height: auto;
}

.description-component,
.upcoming-component,
.media-component,
.video-component,
.gallery-component,
.sidebar-component,
.roles-component {
    margin-top: 50px;
}

.description-item h4 {
    margin: 20px 0 10px 0;
}

.description-item p {
    margin-bottom: 5px;
}

.description-component ul {
    margin-left: 20px;
}

.schedule-show button {}

.video-component iframe {}

.swiper-container {
    background: #000;
}
