@media (max-width: 1200px) {
    .container {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media only screen and (min-width: 992px) {
    #menu-caption {
        display: none;
    }

    .navbar-expand-lg .header-item {
        display: none;
    }
}

@media (min-width: 1500px) {
    .nav-tabs .nav-item.float-left {
        text-indent: 250px;
    }
    .nav-tabs .nav-item.float-right {
        text-indent: -250px;
    }
}

@media only screen and (max-width: 992px) {
    .container {
        width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .header-top .header-item {
        display: none;
    }

    .header-item {
        width: 100%;
        margin-top: 10px;
        padding: 0;
        text-align: center;
    }

    .header form {
        float: left !important;
    }

    .header-item .form-inline {
        float: left;
        border-bottom: none;
        margin: auto;
        width: 100%;
        text-align: center;
        display: block;
    }

    .header-item button {
        background: white;
        color: black;
        border: 1px double black;
        border-radius: 0;
        text-transform: uppercase;
        height: 38px;
    }

    .header-item button:hover {
        background: darkgrey;
        color: white;
    }

    .header-item #social-icon {
        margin: 10px;
    }

    .table-main-schedule td {
        padding: 10px 5px;
    }

    #duration {
        width: 10%;
    }

    #title {
        width: 25%;
    }

    #menu-caption {
        display: block;
    }

    .navbar-nav li {
        margin: 0;
    }

    .navbar .nav-item.active {
        background-color: darkgrey;
        border-bottom: 2px solid black;
    }

    .navbar .nav-item:hover {
        background-color: darkgrey;
        border-bottom: 2px solid black;
    }

    .nav-link {
        text-align: center;
    }

    .nav-item .dropdown-item {
        text-align: center;
    }

    .table-schedule tr {
        border-top: 1px solid black;
    }

    .table-schedule td {
        display: block;
        width: 100%;
        padding: 2px;
        font-weight: 400;
        border-top: none;
    }

    .table-schedule td:first-child {
        padding: 2px;
    }

    .table-schedule td:last-child {
        text-align: left;
        padding: 10px 2px;
        font-weight: 800;
    }
}

@media (min-width: 992px) {
    #menu-caption {
        display: none;
    }
}

@media (max-width: 860px) {
    .col-sm-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-sm-8 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .grid-right {
        order: 1;
    }

    .grid-main {
        order: 2;
    }

    .sidebar-component {
        border-left: none;
    }

    .sidebar-item {
        margin-left: 0;
    }

    .sidebar-img {
        width: 50%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .table-main-schedule tbody {
        display: block;
    }

    .table-main-schedule tr {

        border-bottom: 1px solid black;
    }

    .table-main-schedule td {
        display: block;
        border-bottom: none;
        width: 100%;
    }

    #date-time {
        width: 50%;
        float: right;
    }

    #event-date,
    #event-time,
    #event-month {
        text-align: left;
    }

    #thumb-pic {
        width: 50%;
        float: left;
    }

    .thumbnail {
        width: 300px;
        height: 300px;
    }

    #title {
        width: 50%;
        float: right;
    }

    #location {
        width: 50%;
        float: right;
    }

    #duration {
        width: 50%;
        float: right;
    }

    #comments {
        width: 50%;
        float: right;
    }

    #purchase-ticket {
        width: 50%;
        float: right;
        margin-bottom: 5px;
    }

    .schedule-show button {
        width: 100%;
    }
    
    .filter-modal input {
        width: 100%;
    }

    .table-main-schedule td:last-child {
        padding: 5px;
        text-align: left;
    }
    .carousel-caption h1 {
        font-size: 20px;
    }
    .carousel-caption h3 {
        font-size: 16px;
    }
    .carousel-caption {
        position: relative;
        background-color: rgb(0, 0, 0, 1);
    }
}

@media only screen and (max-width: 675px) {
    .thumbnail {
        width: 250px;
        height: 250px;
    }

    .table-main-schedule td {
        padding: 5px;
    }
}

@media only screen and (max-width: 570px) {
    #date-time {
        width: 60%;
        float: right;
    }
    #thumb-pic {
        width: 40%;
        float: left;
    }

    .thumbnail {
        width: 150px;
        height: 150px;
    }

    #title {
        width: 60%;
        float: right;
    }

    #location {
        width: 60%;
        float: right;
    }

    #duration {
        width: 60%;
        float: right;
    }

    #comments {
        width: 60%;
        float: right;
    }

    #purchase-ticket {
        width: 60%;
        float: right;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 440px) {
    .thumbnail {
        width: 90px;
        height: 90px;
    }
    h1 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 320px) {
    .thumbnail {
        width: 90px;
        height: 90px;
    }
    .dropdown-item {
        font-size: 14px;
        padding: 12px 10px;
    }
}

@media only screen and (max-width: 360px) {
    .dropdown-menu {
        font-size: 14px;
    }
    .dropdown-item {
        padding: 10px 10px;
    }
}

@media only screen and (max-width: 360px) {
    .d-none {
        display: block !important;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        padding-left: 25px;
        padding-right: 25px;
    }

    .sidebar-img {
        width: 100%;
    }

    .video-component iframe {
        width: 100%;
        height: 250px;
    }

    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}
