
.card-color(@color: #f79239, @hover: #ffb472) {
	.card-title {
		border-top: 10px solid @color;
	}
	.btn { font-size: 15px; font-weight: @medium; border-radius: 0; padding: 9px 24px; min-height: 40px; line-height: 1.2;
		&.btn-primary { background: @color; color: #2e2e2e; line-height: 1.2; border: none;border-radius: 20px; white-space: normal; padding: 11px 24px;}
		&:hover, &:focus { background: lighten(@hover, 1%); color: @font-color;}
	}
}

.test-intro-color(@color: #f79239) {
	&.btn-primary { background: @color;}
	&:hover, &:focus { background: lighten(@color, 10%);}
}

.test5-btn-color(@color-primary, @color-secondary, @color-checked) {
	label {
		span.checkbox { background-color: @color-primary; }
		:checked + span.checkbox { background-color: @color-secondary;
			span > .fa, .fa-check { color: @color-checked; }
		}
		&:hover {
			span.checkbox { background-color: lighten(@color-primary, 8%); }
			:checked + span.checkbox { background-color: lighten(@color-secondary, 8%);
				span > .fa, .fa-check { color: lighten(@color-checked, 8%); }
			}
		}
	}
}


.test3-label-color(@color-main: #b6edf6; @color-fa: #36919d; ) {
	label.area{
		span {
			&.fa {  
				&.fa-times { color: @color-fa; }
			}
		}
		&.active { background: @color-main; }
	}
}