.pagination {
    margin-top: 15px;
    font-size: 20px;

}

.page-link {
    color: black;
    border: none;
}

.page-item.active .page-link {
    font-weight: 600;
    color: black;
    background-color: white;
    border-bottom: 1px solid black;
}

.page-link {
    border-bottom: 1px solid white;
}

.page-link:hover {
    color: black;
    border: none;
    background-color: white;
    border-bottom: 1px solid black;
}

.page-item:first-child .page-link {
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-link:focus {
    color: black;
    background-color: white;
    border: none;
}