.item-production img {
    width: 100%;
    margin-top: 30px;
}

.item-production h2 {
    margin-top: 30px;
}

.filter-modal {
    margin-top: 30px;
    font-size: 14px;
}

.filter-modal input {
    height: 38px;
    padding: 5px;
    background-image: url(../../assets/img/calendar-alt.svg);
    background-repeat: no-repeat;
    background-position: right 2% bottom 50%;
    background-size: 16px;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    border: 1px solid black;
}

.btn-filter {
    padding: 8px 20px;
    color: black;
    background-color: #dddddd;
    border: none;
    border-radius: 0;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    margin: 2px 0;
}

.btn-filter:hover {
    background-color: #adadad;
}

.filter-modal .active {
    color: white;
    background-color: black;
}

.filter-modal .active:hover {
    background-color: black;
}

.filter-dropdown {
    float: right;
    margin-left: 3px;
}
