.separator h1 {
	border-bottom: 4px solid black;
	margin-top: 50px;
	margin-bottom: 0;
}

.table-main-schedule td {
	font-weight: @bold;
	padding: 15px;
	vertical-align: middle;
}

.table-main-schedule p {
	margin: 0;
}

.table-main-schedule td:first-child {
	padding: 15px 15px 15px 5;
}

.table-main-schedule td:last-child {
	padding: 15px 5px 15px 15px;
	text-align: right;
}

.table-main-schedule td {
	border-bottom: 1px solid black;
}

.table-main-schedule tr:hover {
    background-color: #f4f4f4;
}

#event-date {
	text-align: center;
}

#event-month {
	font-size: 14px;
	font-weight: @regular;
	text-transform: uppercase;
	text-align: center;
}

#event-time {
	font-size: 14px;
	font-weight: @regular;
	text-transform: uppercase;
	text-align: center;
}

#date-time {
	width: 9%;
}

#thumb-pic {
	width: 13%;
}

#title {
	width: 30%;
}

#location {
	width: 16%;
}

.schedule-show button {
	
}