/* Colors for my Website */

@color-bg-lang: #e4f0f0;
@color-light-blue: #b6edf6;
@color-blue: #6acad7;
@color-dark-blue: #00658e;
@color-orange: #f79239;
@color-yellow: #ffeec1;
@color-green: #86d08f;
@color-grey: #f6f6f6;
@color-sky: #84e5f2;
@color-light-orange: #fcbc52;
@color-light-grey: #f5f5f5;

@color-orange-hover: #ffb472;
@color-blue-hover: #8edfea;
@color-green-hover: #a6ebae;


@bg-img-blue: url("../img/bg_blue.png") repeat top;
@bg-img-yellow: url("../img/bg_yellow.png") repeat top;
@bg-rectangle-3: url("../img/rectangle-3.svg") repeat-x;

@thin: 100;
@light: 300;
@regular: 400;
@medium: 500;
@bold: 700;
@black: 900;

@font-logo: 48px;
@font-color: #000000;
@font-color-nav: #fff;
@font-size: 16px;
@font-family: 'Lato',
sans-serif;
@font-family-logo: 'AT Hadriano Std',
serif;
@global-transition: all 0.3s ease;
* {
	margin: 0;
	padding: 0;
	transition: @global-transition;
}

html,
body {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.content-wrapper {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

body {
	font-family: @font-family;
	color: @font-color;
	background: #fff;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: inherit;
}

p {
	line-height: 1.5;
	padding: 0;
	margin: 0 0 20px 0;
}

h1 {
	font-size: 40px;
	text-transform: uppercase;
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
}

h3 {
	font-size: 20px;
	text-transform: uppercase;
}

h4 {
	font-size: 16px;
	font-weight: @bold;
	margin: 0 0 20px 0;
}

a {
	color: inherit;
}

a:hover {
	color: inherit;
}

b,
strong {
	font-weight: @bold;
}

input:focus::placeholder {
	opacity: 0;
}
