include "modules/header.html"

<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p><strong>Täname!</strong> Teile saadeti tellimuse aktiveerimise e-mail.</p>
</div>

<div class="container-fluid cover-photo">
    <img src="assets/img/cafe-2.jpg">
</div>
<div class="container main-content">
    <div class="row">
        <div class="col-sm-12">
            <h1>Teatrikohvik</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 grid-right">
            <div class="sidebar-component">
                <div class="sidebar-item">
                    <h3>Päevapakkumised 13.11</h3>
                    <p>11:30 - 17:00</p>
                    <div class="daily-special-item">
                        <div class="daily-dish">
                            <p>Kanafilee juustu- ja ananassikattega</p>
                        </div>
                        <div class="daily-price">
                            <p>3.50€</p>
                        </div>
                    </div>
                    <div class="daily-special-item">
                        <div class="daily-dish">
                            <p>Tilaapia ananassi-sinihallitusjuustukattega</p>
                        </div>
                        <div class="daily-price">
                            <p>3.50€</p>
                        </div>
                    </div>
                    <div class="daily-special-item">
                        <div class="daily-dish">
                            <p>Itaaliapärane kanapada</p>
                        </div>
                        <div class="daily-price">
                            <p>3.50€</p>
                        </div>
                    </div>
                    <div class="daily-special-item">
                        <div class="daily-dish">
                            <p>Pastinaagipüreesupp</p>
                        </div>
                        <div class="daily-price">
                            <p>3.50€</p>
                        </div>
                    </div>
                    <div class="daily-special-item">
                        <div class="daily-dish">
                            <p>Kanafilee juustu- ja ananassikattega</p>
                        </div>
                        <div class="daily-price">
                            <p>3.50€</p>
                        </div>
                    </div>
                    <div class="daily-special-item">
                        <div class="daily-dish">
                            <p>Itaaliapärane kanapada</p>
                        </div>
                        <div class="daily-price">
                            <p>3.50€</p>
                        </div>
                    </div>
                </div>
                <div class="sidebar-item">
                    <h3>Vaheajalaud</h3>
                    <p>Teatrikülastajatel on võimalus enne etendust vaheajaks laud ette tellida. Saab valida ka kindlate vaheajapakettide vahel. Sama päeva teatripiletiga kehtib pärast etendust kohvikus soodustus 10% (välja arvatud tubakatooted). Kaduviku ja Swedbanki Seeniorkaardiga kehtib sama soodustus igal ajal.</p>
                    <span>Tellimiseks helista kohviku teenindusele +372 87654321</span>
                </div>
                <div class="sidebar-item">
                    <h3>Grupitellimused</h3>
                    <p>Teatrikohvik pakub võimalust tellida gruppidele toitlustust. Menüü päevaseks grupitoitlustuseks (konverentsid, seminarid) ettetellimisega vähemalt 7 päeva.</p>
                    <a href="#" class="content-link">Tutvu menüüga ja telli ></a>
                </div>
            </div>
        </div>
        <!-- .col-sm-4 -->
        <div class="col-sm-8 grid-main">
            <div class="description-component">
                <p>Teatri peamajas asub hubane 80-kohaline Teatrikohvik, kus saab nautida head kohvi ja mõnusat äraolemist tasuta WiFi ning värskete ajalehtedega. Teatrikohvik on avatud iga päev 9-23, sooja toitu pakume 11.30-17.00 ning ettetellimisel ka hiljem. Kõiki menüüs olevaid tooteid saab ka kaasa osta. Suveperioodil on avatud ka Rahvaaiale avaneva suurepärase vaatega väliterrass. Teatri peamajas asub hubane 80-kohaline Teatrikohvik, kus saab nautida head kohvi ja mõnusat äraolemist tasuta WiFi ning värskete ajalehtedega. Teatrikohvik on avatud iga päev 9-23, sooja toitu pakume 11.30-17.00 ning ettetellimisel ka hiljem. Kõiki menüüs olevaid tooteid saab ka kaasa osta. Suveperioodil on avatud ka Rahvaaiale avaneva suurepärase vaatega väliterrass.</p>
                <p>Teatri peamajas asub hubane 80-kohaline Teatrikohvik, kus saab nautida head kohvi ja mõnusat äraolemist tasuta WiFi ning värskete ajalehtedega. Teatrikohvik on avatud iga päev 9-23, sooja toitu pakume 11.30-17.00 ning ettetellimisel ka hiljem. Kõiki menüüs olevaid tooteid saab ka kaasa osta. Suveperioodil on avatud ka Rahvaaiale avaneva suurepärase vaatega väliterrass.Teatri peamajas asub hubane 80-kohaline Teatrikohvik.</p>
            </div>
            <div class="description-component">
                <h2>Menüü</h2>
                <p>Teatrikohviku menüüs on valik võileibu, salateid ja küpsetisi, iga päev kell 11.30-17.00 pakume ka sooja toitu - suppe, praade, magustoite. Meelepärase roa leiavad menüüst ka lapsed ja taimetoitlased.</p>
                <p>Aegade jooksul on Teatrikohviku külastajatel tekkinud oma meelisroad - kokkade sõnul kuuluvad tippviisikusse ahjukala kodujuustuga, sealihašnitsel, kartulisalat, täisterakukkel lõheroosiga ning teatrikook šokolaadi ja kirssidega. Tekkinud on ka oma väikesed traditsioonid - näiteks püreesuppide austajail tasub Teatrikohvikust läbi astuda teisipäeviti, mil menüüs leidub taas uus ja maitsev leem ja tööpäevadel pakume soodsamalt komplektlõunasööki. Aeg-ajalt korraldab Teatrikohvik ka teemanädalaid, mis enamasti seotud mõne uuslavastuse või teatri eriprojektiga.</p>
            </div>
            <div class="gallery-component">
                <h2>Galerii</h2>
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
                <img src="assets/img/news-1.jpg">
            </div>
            <!-- .gallery-component -->
        </div>
        <!-- .col-sm-8 -->
    </div>
</div>

include "modules/footer.html" 
include "modules/end.html"
