include "modules/header-cinema.html"
<div class="parallax-bg">
    <div class="container-fluid cover-photo">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/img/cinema.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Tere tulemast Rakvere Teatrikinno!</h1>
                        <h3>Iga nädal uued filmid</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/carousel-1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Küllus</h1>
                        <h3>Esietendus 12. detsembril</h3>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/img/carousel-1.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h1>Sina maga, mina pesen nõud</h1>
                        <h3>Esietendus 12. detsembril</h3>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span></a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span></a>
        </div>
    </div>

    <div class="container schedule-show">
        <div class="row">
            <div class="col-sm-12 separator">
                <h1>Kino kava</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-main-schedule">
                    <tbody>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">E, 13</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-2.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Seltsimees laps</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">T, 14</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-3.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Keskööpäike</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html">Välja müüdud!</td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">K, 15</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-1.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Kena vaikne kohake</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">E, 13</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-2.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Seltsimees laps</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">T, 14</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-3.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Keskööpäike</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html">Välja müüdud!</td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">K, 15</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-1.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Kena vaikne kohake</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">E, 13</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-2.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Seltsimees laps</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">T, 14</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-3.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Keskööpäike</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html">Välja müüdud!</td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-movie.html">
                                <h2 id="event-date">K, 15</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-movie.html">
                                <img src="assets/img/movie-thumb-1.jpg" alt="Image" />
                            </td>
                            <td id="title" class="clickable-row" data-href="single-movie.html">
                                <a href="single-movie.html">
                                    <h2>Kena vaikne kohake</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-movie.html">Teatrikino</td>
                            <td id="duration" class="clickable-row" data-href="single-movie.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-movie.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                    </tbody>
                </table><!-- .table .table-main-schedule -->
                <button type="button" class="btn btn-primary btn-lg" id="schedule-all">Vaata kogu mängukava</button>
            </div>
        </div>
    </div>
    <!-- .container .schedule-show -->

    include "modules/footer.html"
</div>
include "modules/end.html"
