include "modules/header.html"

<div class="container-fluid" style="padding: 0">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2033.9689946227727!2d26.35035525634761!3d59.35016536639235!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469375cc66e050ad%3A0x7ef395a62fffe228!2sRakvere+Teatri+SA!5e0!3m2!1set!2see!4v1519110897695" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="container main-content">
	<div class="row">
		<div class="col-sm-12">
			<h1>SA Rakvere teatrimaja</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 grid-right">
			<div class="sidebar-component">
				<div class="sidebar-item">
					<h2>Parkimine</h2>
					<p>Parkida saab suure maja ees ning suure ja väikse maja vahel asuvas hoovis. Lisaks on olemas väikese maja parkla sissepääsuga Näituse tänavalt. </p>
					<h4>Parkimine on tasuta!</h4>
					<p>Tähelepanu! Kui ühel ajal toimub mitu üritust, ei pruugi kõigile parkimiskohti jaguda. Tund enne etendust töötab suure maja ees parkimiskorraldaja. Palun varuge aega, et vajadusel otsida autole koht teatri lähistel Näituse, Vallikraavi või Vabriku tänavatel. Kuna üritused võivad lõppeda erinevatel aegadel, vabanevad parkimiskohad teatri ees jooksvalt ning seepärast võib hilisem tulija parkimiskoha saada. Palume mõistvat suhtumist!</p>
				</div>
			</div>
		</div><!-- .col-sm-4 -->
		<div class="col-sm-8 grid-main">
			<div class="description-component">
				<p>Kreutzwaldi 2a<br>Rakvere 44314<br>Eesti<br>rakvereteater(ät)rakvereteater.ee<br>www.facebook.com/rakvere.teater
				</p>
				<p>Kassa: Daisy Kull +372 32 95444, kassa(ät)rakvereteater.ee<br> Valvelaud/kohvik: +372 32 95420, kohvik(ät)rakvereteater.ee<br> Laudade broneerimine, toitlustuse tellimine: teenindusjuht Kairi Elbashatly ja teenindusjuhi abi Ivi Vasiljeva +372 32 95421 </p>
				<span class="">Pileteid saab osta ka teatri kohvikust või Piletimaailma müügikohtadest, samuti internetist piletimaailm.com</span>
				<p>Juhataja Velvo Väli +372 32 95451<br> Juhi abi Helle-Mall Niinemets +372 32 95451<br> Korraldusjuht Marika Tint +372 32 95442<br> Trupijuht Kätlin Hoop +372 32 95453<br> Projektijuht Helen Solovjev +372 32 95470<br> Turundusspetsialist Laila Talunik +372 32 95440<br> Reklaamijuht Kristo Kruusman +372 32 95443</p>
				<p>Loominguline juht Peeter Raudsepp<br> Peakunstnik Eveli Varik +372 32 95425<br> Dramaturg Triinu Sikk +372 32 95443<br> Dramaturg-lavastaja Urmas Lennuk +372 32 95443</p>
				<p>Pearaamatupidaja Tuuli Jaansen +372 32 95448<br> Raamatupidajad Merle Siirak ja Mari Vitskovski +372 32 95466</p>
				<p>Lavastusala juht Tiit Kalm ja abi Maie Nurmoja +372 32 95449<br> Inspitsient-rekvisiitorid Indrek Apinis, Aune Kuul ja Eili Neuhaus +372 32 95464</p>
				<p>Kostümeerijad Kaja Kupp ja Anne Joorits +372 32 95426 (kostüümide laenutus)<br> Grimeerijad Anu Saar ja Veroonika Rego +372 32 95427<br> Helitehnikud Tarmo Kesküll, Peeter Pilv, Elmar Sats +372 32 95435<br> Valgustajad Arne Maasi, Märt Sell, Roomet Villau +372 32 95436<br> Majakunstnik Helen Padu +372 32 95438<br> Õmblejad Anne Komp, Merli Matti, Kaja Uustalu +372 32 95430<br> Puusepp Aare Vilba +372 32 95452</p>
				<a href="#" class="content-link">Kino kontaktid ></a>
			</div>
		</div><!-- .col-sm-8 -->
	</div>
</div>

include "modules/footer.html" 
include "modules/end.html"