include "modules/header.html"
<div class="parallax-bg">
    <div class="container-fluid cover-photo">
        

        <div class="swiper-container" data-autoplay="5000">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="assets/img/cafe-sm-1.jpeg">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><a href="/teater/esietendub-kuni-ta-suri">Esietendub &quot;Kuni ta suri&quot;</a></h1>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img src="assets/img/carousel-1.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <h1><a href="/teater/rakvere-teater-tallinnas-0">Rakvere Teater Tallinnas</a></h1>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev swiper-button-white"></div>
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-pagination"></div>
        </div><!--/swiper-contaienr-->

    </div>
    <!-- .container-fluid .cover-photo .carousel -->

    <div class="container schedule-show">
        <div class="row">
            <div class="col-sm-12 separator">
                <h1>Mängukava</h1>
            </div>
            <!-- .col-sm-12 .separator -->
        </div>
        <!-- .row -->
        <div class="row">
            <div class="col-sm-12">
                <table class="table table-main-schedule">
                    <tbody>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-production.html">
                                <h2 id="event-date">E, 13</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                                <div class="thumbnail"><img src="assets/img/show-pic-2.png" class="portrait"></div>
                            </td>
                            <td id="title" class="clickable-row" data-href="single-production.html">
                                <a href="single-production.html">
                                    <h2>Lendas üle käopesa</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                            <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                            <td id="purchase-ticket"><a href="https://www.piletimaailm.com/performances/92896/buy" class="btn btn-secondary btn-sm">Osta pilet</a></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-production.html">
                                <h2 id="event-date">T, 14</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                                <div class="thumbnail"><img src="assets/img/show-pic-1.png" class="portrait"></div>
                            </td>
                            <td id="title" class="clickable-row" data-href="single-production.html">
                                <a href="single-production.html">
                                    <h2>Küllus</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-production.html">Mingisugune Huvi- ja Kultuurikeskus</td>
                            <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-production.html">Välja müüdud!</td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-production.html">
                                <h2 id="event-date">K, 15</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                                <div class="thumbnail"><img src="assets/img/show-pic-3.png" class="portrait"></div>
                            </td>
                            <td id="title" class="clickable-row" data-href="single-production.html">
                                <a href="single-production.html">
                                    <h2>See kõik on tema</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                            <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-production.html">
                                <h2 id="event-date">N, 16</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">18:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                                <div class="thumbnail"><img src="assets/img/show-pic-2.png" class="portrait"></div>
                            </td>
                            <td id="title" class="clickable-row" data-href="single-production.html">
                                <a href="single-production.html">
                                    <h2>Sina maga, mina pesen nõud</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                            <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-production.html">
                                <p id="attention">Teine algusaeg!</p>
                            </td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                        <tr>
                            <td id="date-time" class="clickable-row" data-href="single-production.html">
                                <h2 id="event-date">R, 17</h2>
                                <p id="event-month">November</p>
                                <p id="event-time">19:00</p>
                            </td>
                            <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                                <div class="thumbnail"><img src="assets/img/show-pic-1.png" class="portrait"></div>
                            </td>
                            <td id="title" class="clickable-row" data-href="single-production.html">
                                <a href="single-production.html">
                                    <h2>Küllus</h2>
                                </a>
                            </td>
                            <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                            <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                            <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                            <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
                        </tr>
                    </tbody>
                </table>
                <!-- .table .table-main-schedule -->
                <a href="schedule.html"><button type="button" class="btn btn-primary btn-lg" id="schedule-all">Vaata kogu mängukava</button></a>
            </div>
            <!-- .col-sm-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container .schedule-show -->
    <div class="container schedule-events">
        <div class="row">
            <div class="col-sm-12 separator">
                <h1>Üritused</h1>
            </div>
            <!-- .sol-sm-12 .separator -->
        </div>
        <!-- .row -->
        <table class="table table-main-schedule">
            <tbody>
                <tr class="clickable-row" data-href="single-event.html">
                    <td id="date-time">
                        <h2 id="event-date">13.12 - 26.12</h2>
                    </td>
                    <td id="thumb-pic">
                        <div class="thumbnail"><img src="assets/img/event-pic-1.jpg" class="portrait"></div>
                    </td>
                    <td id="title">
                        <a href="single-event.html">
                            <h2>Eesti Näitlejate Liit 100. Näitleja portree</h2>
                        </a>
                    </td>
                    <td id="location">Teatrikino</td>
                    <td id="duration"></td>
                    <td id="comments"></td>
                </tr>
                <tr class="clickable-row" data-href="single-event.html">
                    <td id="date-time">
                        <h2 id="event-date">13.12 - 26.12</h2>
                    </td>
                    <td id="thumb-pic">
                        <div class="thumbnail"><img src="assets/img/event-pic-2.jpg"></div>
                    </td>
                    <td id="title">
                        <a href="single-event.html">
                            <h2>JARÕNA ILO JA REGINA-LUKK TOOMPERE NÄITUS</h2>
                        </a>
                    </td>
                    <td id="location">Teatrikohvik</td>
                    <td id="duration"></td>
                    <td id="comments"></td>
                </tr>
                <tr class="clickable-row" data-href="single-event.html">
                    <td id="date-time">
                        <h2 id="event-date">13.12 - 26.12</h2>
                    </td>
                    <td id="thumb-pic">
                        <div class="thumbnail"><img src="assets/img/event-pic-3.jpg" class="portrait"></div>
                    </td>
                    <td id="title">
                        <a href="single-event.html">
                            <h2>Septem</h2>
                        </a>
                    </td>
                    <td id="location">Teatrikino</td>
                    <td id="duration"></td>
                    <td id="comments"></td>
                </tr>
                <tr class="clickable-row" data-href="single-event.html">
                    <td id="date-time">
                        <h2 id="event-date">13.12 - 26.12</h2>
                    </td>
                    <td id="thumb-pic">
                        <div class="thumbnail"><img src="assets/img/event-pic-1.jpg" class="portrait"></div>
                    </td>
                    <td id="title">
                        <a href="single-event.html">
                            <h2>Mingi näitus</h2>
                        </a>
                    </td>
                    <td id="location">Teatrikino</td>
                    <td id="duration"></td>
                    <td id="comments"></td>
                </tr>
                <tr class="clickable-row" data-href="single-event.html">
                    <td id="date-time">
                        <h2 id="event-date">R, 17</h2>
                        <p id="event-month">November</p>
                        <p id="event-time">22:00</p>
                    </td>
                    <td id="thumb-pic">
                        <div class="thumbnail"><img src="assets/img/event-pic-2.jpg"></div>
                    </td>
                    <td id="title">
                        <a href="single-event.html">
                            <h2>RT Jazz: Ingrid Hageli kvartett</h2>
                        </a>
                    </td>
                    <td id="location">Teatrikohvik</td>
                    <td id="duration">2h 15'</td>
                    <td id="comments">Pileteid müüakse kohapeal</td>
                </tr>
            </tbody>
        </table>
        <!-- .table .table-schedule -->
    </div>
    <!-- .container .schedule-show -->


    include "modules/footer.html"
</div>
<!-- .parallax-bg -->
include "modules/end.html"
