include "modules/header-cinema.html"

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="filter-modal">
				<button href="" class="active">Hetkel teatris</button>
				<button href="">Tulekul</button>
				<button href="">Arhiiv</button>
				<button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Žanr</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" href="#">Draama</a>
					<a class="dropdown-item" href="#">Komöödia</a>
					<a class="dropdown-item" href="#">Eesti algupärand</a>
					<a class="dropdown-item" href="#">Lastele</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px.jpg">
					<h2>Seltsimees laps</h2></a>
				<h4>Draama</h4>
				<p>Režissöör Moonika Siimetsa esimene täispikk mängufilm põhineb armastatud kirjaniku Leelo Tungla autobiograafilistel romaanidel “Seltsimees laps ja suured inimesed” ja “Samet ja saepuru”. Paralleelselt filmiga valmib kirjanikul triloogia viimane osa.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px2.jpg">
				<h2>Kesköö päike</h2></a>
				<h4>Draama</h4>
				<p>17-aastane Katie Price, keda on varjatud alates varajasest lapsepõlvest, elab haruldase eluohtliku haigusega, mis muudab ka väikseima koguse päikesevalgust surmavaks.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px3.jpg">
				<h2>Kena vaikne kohake</h2></a>
				<h4>Õudus</h4>
				<p>John Krasinski lavastatud õudus-thriller räägib närvekõditava loo Ameerika perekonnast, kes elab idüllilises maakohas keset maisipõlde ning kelle ellujäämine sõltub oskusest teha oma toimetusi hiirvaikselt ja sõna lausumata.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px.jpg">
					<h2>Seltsimees laps</h2></a>
				<h4>Draama</h4>
				<p>Režissöör Moonika Siimetsa esimene täispikk mängufilm põhineb armastatud kirjaniku Leelo Tungla autobiograafilistel romaanidel “Seltsimees laps ja suured inimesed” ja “Samet ja saepuru”. Paralleelselt filmiga valmib kirjanikul triloogia viimane osa.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px2.jpg">
				<h2>Kesköö päike</h2></a>
				<h4>Draama</h4>
				<p>17-aastane Katie Price, keda on varjatud alates varajasest lapsepõlvest, elab haruldase eluohtliku haigusega, mis muudab ka väikseima koguse päikesevalgust surmavaks.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px3.jpg">
				<h2>Kena vaikne kohake</h2></a>
				<h4>Õudus</h4>
				<p>John Krasinski lavastatud õudus-thriller räägib närvekõditava loo Ameerika perekonnast, kes elab idüllilises maakohas keset maisipõlde ning kelle ellujäämine sõltub oskusest teha oma toimetusi hiirvaikselt ja sõna lausumata.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px.jpg">
					<h2>Seltsimees laps</h2></a>
				<h4>Draama</h4>
				<p>Režissöör Moonika Siimetsa esimene täispikk mängufilm põhineb armastatud kirjaniku Leelo Tungla autobiograafilistel romaanidel “Seltsimees laps ja suured inimesed” ja “Samet ja saepuru”. Paralleelselt filmiga valmib kirjanikul triloogia viimane osa.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px2.jpg">
				<h2>Kesköö päike</h2></a>
				<h4>Draama</h4>
				<p>17-aastane Katie Price, keda on varjatud alates varajasest lapsepõlvest, elab haruldase eluohtliku haigusega, mis muudab ka väikseima koguse päikesevalgust surmavaks.</p>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-movie.html"><img id="production-poster" src="assets/img/movie-poster_670x250px3.jpg">
				<h2>Kena vaikne kohake</h2></a>
				<h4>Õudus</h4>
				<p>John Krasinski lavastatud õudus-thriller räägib närvekõditava loo Ameerika perekonnast, kes elab idüllilises maakohas keset maisipõlde ning kelle ellujäämine sõltub oskusest teha oma toimetusi hiirvaikselt ja sõna lausumata.</p>
			</div>
		</div>
	</div>
</div>

include "modules/footer.html" 
include "modules/end.html"
