include "modules/header.html"

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<div class="item-production">
				<a href="single-news.html">
					<img id="news-poster" src="assets/img/news-1.jpg">
					<h2>Uue aasta piletid saadaval</h2>
				    <h4>21. nov</h4>
				    <p>Müügile tulid Rakvere Teatri piletid 2018. aasta jaanuari, veebruari ja märtsi etendustele.</p>
                </a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-2.jpg">
                    <h2>Publikuhääletuse tulemused ja teatriordenid</h2>
                    <h4>21. nov</h4>
                    <p>"Lendas üle käopesa" esietendusel kuulutati välja publikulemmikud ja teater tänas ordenitega oma koostööpartnereid.</p>
                </a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-3.jpg">
                    <h2>Rakvere Teater Tallinnas</h2>
                    <h4>21. nov</h4>
                    <p>Neile, kes Rakverre ei jõua, tuuakse Virumaa teater Talinnasse ja Harjumaale lausa kätte. Pileteid kõikidele etendustele saab osta ka internetist piletimaailm.com.</p>
                </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-4.jpg">
                    <h2>Rakvere teater Tartus</h2>
                    <h4>21. nov</h4>
                    <p>Pea iga kuu toovad Virumaa näitlejad külakosti ka Emajõe pealinna ja mujale Tartumaale. Pileteid kõikidele etendustele saab osta ka internetist piletimaailm.com.</p>
                </a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-1.jpg">
                    <h2>Uue aasta piletid saadaval</h2>
                    <h4>21. nov</h4>
                    <p>Müügile tulid Rakvere Teatri piletid 2018. aasta jaanuari, veebruari ja märtsi etendustele.</p>
                </a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-2.jpg">
                    <h2>Publikuhääletuse tulemused ja teatriordenid</h2>
                    <h4>21. nov</h4>
                    <p>"Lendas üle käopesa" esietendusel kuulutati välja publikulemmikud ja teater tänas ordenitega oma koostööpartnereid.</p>
                </a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-3.jpg">
                    <h2>Rakvere Teater Tallinnas</h2>
                    <h4>21. nov</h4>
                    <p>Neile, kes Rakverre ei jõua, tuuakse Virumaa teater Talinnasse ja Harjumaale lausa kätte. Pileteid kõikidele etendustele saab osta ka internetist piletimaailm.com.</p>
                </a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-4.jpg">
                    <h2>Rakvere teater Tartus</h2>
                    <h4>21. nov</h4>
                    <p>Pea iga kuu toovad Virumaa näitlejad külakosti ka Emajõe pealinna ja mujale Tartumaale. Pileteid kõikidele etendustele saab osta ka internetist piletimaailm.com.</p>
                </a>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="item-production">
                <a href="single-news.html">
                    <img id="news-poster" src="assets/img/news-1.jpg">
                    <h2>Uue aasta piletid saadaval</h2>
                    <h4>21. nov</h4>
                    <p>Müügile tulid Rakvere Teatri piletid 2018. aasta jaanuari, veebruari ja märtsi etendustele.</p>
                </a>
			</div>
		</div>
	</div>
</div>

include "modules/footer.html" 
include "modules/end.html"
