include "modules/header.html"

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
					<img src="assets/img/inimene-1.jpg">
					<h2>Velvo Väli</h2>
				<h4>Teatrijuht</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-2.jpg">
				<h2>Peeter Rästas</h2>
				<h4>Näitleja ja arvutigraafik</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-3.jpg">
				<h2>Anneli Rahkema</h2>
				<h4>Näitleja</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-1.jpg">
				<h2>Velvo Väli</h2>
				<h4>Teatrijuht</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-2.jpg">
				<h2>Peeter Rästas</h2>
				<h4>Näitleja ja arvutigraafik</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-3.jpg">
				<h2>Anneli Rahkema</h2>
				<h4>Näitleja</h4>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-1.jpg">
				<h2>Velvo Väli</h2>
				<h4>Teatrijuht</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-2.jpg">
				<h2>Peeter Rästas</h2>
				<h4>Näitleja ja arvutigraafik</h4>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-people">
                <a href="single-person.html">
				<img src="assets/img/inimene-3.jpg">
				<h2>Anneli Rahkema</h2>
				<h4>Näitleja</h4>
                </a>
            </div>
        </div>
    </div>
</div>

include "modules/footer.html" 
include "modules/end.html"
