include "modules/header.html"

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="filter-modal">
                <button class="btn-filter active" href="">Hetkel teatris</button>
                <button class="btn-filter" href="">Tulekul</button>
                <button class="btn-filter" href="">Arhiiv</button>
                <button class="dropdown-toggle btn-filter" type="button" id="filterSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Žanr</button>
                <div class="dropdown-menu" aria-labelledby="filterSelection">
                    <a class="dropdown-item" href="#">Draama</a>
                    <a class="dropdown-item" href="#">Komöödia</a>
                    <a class="dropdown-item" href="#">Eesti algupärand</a>
                    <a class="dropdown-item" href="#">Lastele</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-3.jpg">
                    <h2>Lendas üle käopesa</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-2.jpg">
                    <h2>See kõik on tema</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan. </p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-1.jpg">
				    <h2>Ükssarvikute farm</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-3.jpg">
                    <h2>Lendas üle käopesa</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-2.jpg">
                    <h2>See kõik on tema</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan. </p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-1.jpg">
				    <h2>Ükssarvikute farm</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-3.jpg">
                    <h2>Lendas üle käopesa</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-2.jpg">
                    <h2>See kõik on tema</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan. </p>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="item-production">
                <a href="single-production.html">
                    <img id="production-poster" src="assets/img/production-1.jpg">
				    <h2>Ükssarvikute farm</h2>
                    <h4>Draama</h4>
                    <p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
                </a>
            </div>
        </div>
    </div>
</div>

include "modules/pagination.html"
include "modules/footer.html" 
include "modules/end.html"
