include "modules/header.html"

<div class="container schedule-show">
    <div class="row">
        <div class="col-sm-12">
            <div class="filter-modal">
                <input type="text" name="datefilter" value="Perioodi algus" />
                <input type="text" name="datefilter" value="Perioodi lõpp" />
                <button class="btn-filter active" href="">Etendused kodus</button>
                <button class="btn-filter" href="">Etendused mujal</button>
                <button class="btn-filter" href="">Teised teatrid Rakveres</button>
                <button class="dropdown-toggle btn-filter" type="button" id="filterSelection" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Maakond</button>
                <div class="dropdown-menu" aria-labelledby="filterSelection">
                    <a class="dropdown-item" href="#">Lääne-Viru maakond</a>
                    <a class="dropdown-item" href="#">Harju maakond</a>
                    <a class="dropdown-item" href="#">Jõgeva maakond</a>
                    <a class="dropdown-item" href="#">Tartu maakond</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 separator">
            <h1>Jaanuar</h1>
        </div>
    </div>
    <table class="table table-main-schedule">
        <tbody>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">E, 13</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">19:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-2.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>Lendas üle käopesa</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                <td id="purchase-ticket"><a href="https://www.piletimaailm.com/performances/92896/buy" class="btn btn-secondary btn-sm">Osta pilet</a></td>
            </tr>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">T, 14</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">19:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-1.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>Küllus</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Mingisugune Huvi- ja Kultuurikeskus</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html">Välja müüdud!</td>
                <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
            </tr>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">K, 15</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">19:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-3.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>See kõik on tema</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
            </tr>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">N, 16</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">18:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-2.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>Sina maga, mina pesen nõud</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html">
                    <p id="attention">Teine algusaeg!</p>
                </td>
                <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
            </tr>
        </tbody>
    </table>
    <!-- .table .table-schedule -->

    <div class="row">
        <div class="col-sm-12 separator">
            <h1>Veebruar</h1>
        </div>
    </div>
    <table class="table table-main-schedule">
        <tbody>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">E, 13</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">19:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-2.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>Lendas üle käopesa</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                <td id="purchase-ticket"><a href="https://www.piletimaailm.com/performances/92896/buy" class="btn btn-secondary btn-sm">Osta pilet</a></td>
            </tr>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">T, 14</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">19:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-1.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>Küllus</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Mingisugune Huvi- ja Kultuurikeskus</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html">Välja müüdud!</td>
                <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
            </tr>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">K, 15</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">19:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-3.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>See kõik on tema</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html"></td>
                <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
            </tr>
            <tr>
                <td id="date-time" class="clickable-row" data-href="single-production.html">
                    <h2 id="event-date">N, 16</h2>
                    <p id="event-month">November</p>
                    <p id="event-time">18:00</p>
                </td>
                <td id="thumb-pic" class="clickable-row" data-href="single-production.html">
                    <div class="thumbnail"><img src="assets/img/show-pic-2.png" class="portrait"></div>
                </td>
                <td id="title" class="clickable-row" data-href="single-production.html">
                    <a href="single-production.html">
                        <h2>Sina maga, mina pesen nõud</h2>
                    </a>
                </td>
                <td id="location" class="clickable-row" data-href="single-production.html">Suur Saal</td>
                <td id="duration" class="clickable-row" data-href="single-production.html">1h 45'</td>
                <td id="comments" class="clickable-row" data-href="single-production.html">
                    <p id="attention">Teine algusaeg!</p>
                </td>
                <td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
            </tr>
        </tbody>
    </table>
    <!-- .table .table-schedule -->
</div>
<!-- .container .schedule-show -->

include "modules/footer.html"
include "modules/end.html"
