include "modules/header-cinema.html"

<div class="container schedule-show">
	<div class="row">
		<div class="col-sm-12">
			<div class="filter-modal">
				<input type="text" name="datefilter" value="Vali ajavahemik" />
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 separator">
			<h1>Kava</h1>
		</div>
	</div>
	<table class="table table-main-schedule">
		<tbody>
			<tr>
				<td id="date-time">
					<h2 id="event-date">E, 13</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-2.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Seltsimees laps</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments"></td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">T, 14</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-3.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Keskööpäike</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments">Välja müüdud!</td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">K, 15</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-1.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Kena vaikne kohake</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments"></td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">E, 13</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-2.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Seltsimees laps</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments"></td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">T, 14</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-3.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Keskööpäike</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments">Välja müüdud!</td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">K, 15</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-1.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Kena vaikne kohake</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments"></td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">E, 13</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-2.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Seltsimees laps</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments"></td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">T, 14</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-3.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Keskööpäike</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments">Välja müüdud!</td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm" disabled>Osta pilet</button></td>
			</tr>
			<tr>
				<td id="date-time">
					<h2 id="event-date">K, 15</h2>
					<p id="event-month">November</p>
					<p id="event-time">19:00</p>
				</td>
				<td id="thumb-pic">
					<img src="assets/img/movie-thumb-1.jpg" alt="Image" />
				</td>
				<td id="title">
					<a href="single-movie.html">
						<h2>Kena vaikne kohake</h2>
					</a>
				</td>
				<td id="location">Teatrikino</td>
				<td id="duration">1h 45'</td>
				<td id="comments"></td>
				<td id="purchase-ticket"><button type="button" class="btn btn-secondary btn-sm">Osta pilet</button></td>
			</tr>
		</tbody>
	</table><!-- .table .table-main-schedule -->
</div><!-- .container .schedule-show -->

include "modules/footer.html" 
include "modules/end.html"
