include "modules/header.html"

<div class="container main-content">
	<div class="row">
		<div class="col-sm-12">
			<h1>Uue aasta piletid saadaval</h1>
            <p>21. nov</p>
		</div><!--.col-sm-12-->
	</div><!--.row-->
	<div class="row">
		<div class="col-sm-4 grid-right">
			<div class="sidebar-component">
				<div class="sidebar-item">
					<img src="assets/img/news-pic.jpg" class="sidebar-img">
				</div><!--.sidebar-item-->
				<div class="sidebar-item">
					<p>Jaga:</p>
					<a href="#"><img src="assets/img/fb-black.svg" id="social-icon"></a>
				    <a href="#"><img src="assets/img/insta-black.svg" id="social-icon"></a>
				</div><!--.sidebar-item-->
			</div>
		</div><!--.col-sm-4-->
		<div class="col-sm-8 grid-main">
			<div class="description-component">
				<p>Müügile tulid Rakvere Teatri aprilli kuni mai etenduste piletid. Vaata <a href="" class="content-link">mängukava</a>.</p>
				<p>Nii nagu kogu Eesti, on ka Rakvere Teater kodumaa sünnipäeva ootel ja tähistab kevadiste lavastustega Eesti Vabariigi 100. juubelit.</p>
				<p>Kevade jooksul jõuavad Rakveres lavale kaks juubelile pühendatud lavastust. Rakverest pärit Liisi Rohumäe on süüvinud Kanada-eestlaste temaatikasse ning kirjutanud näitemängu „La h us”, mis näitab väliseestlaste elu ja suhet kodumaasse mitmetahulisemalt kui me oleme seda tavaliselt harjunud nägema. Tänapäeva Torontos jäävad arhiivi kinni poolõde ja poolvend: Kanadasse lahkunud ja kodumaale jäänud eestlane. Selgub, et nende perekonnaloos on hulganisti vastuseta küsimusi ja saladusi, mille väljatulekut karta.</p>
				<p>Nii nagu kõik Eesti suuremad teatrid, on ka Rakvere Teater leidnud endale paarilise, et üheskoos tuua publiku ette lavastus EV100 teatrisarja „Sajandi lugu” raames. Rakvere Teater ja Fine5 tantsuteater viivad publiku 90ndatesse. Urmas Lennuki kirjutatud ja Peeter Raudsepa lavastatud „Puudutada kuud” esietendub 13. aprillil 2018 Rakvere Teatri suures saalis. Osades on nii Rakvere Teatri kui ka Fine5 tegijad.</p>
				<p>Juba saab osta pileteid ka suvelavastusele "Viimane võllamees", mis esietendus eelmisel suvel ning tuleb sel aastal Loodi kuivatis uuesti esitamisele. Üllar Saaremäe lavastus ja Raivo E. Tamme peaosatäitmine vallutasid eelmisel suvel publiku südamed, millest annab märku ka publikuküsitlusel saavutatud eelmise hooaja parima lavastuse tiitel. Etendused 7. kuni 27. juunini Loodi kuivatis.</p>
				<p>Juba saab välja hõigata ka Rakvere Teatri teise suvelavastuse. Eili Neuhaus toob publiku ette „Lõikuspeo tantsud” – loo 1930ndate Iirimaa väikeses külakeses elavast perekonnast. See on südamlik lugu viiest õest, kelle fantaasiat ja unistuste lendu ei piira keerulisevõitu reaalsed olud. Piletid tulevad peagi müügile.</p>
			</div><!-- .description-component -->
		</div><!-- .col-sm-8 -->
	</div><!--.row-->
</div><!-- .container .main-content -->

include "modules/footer.html" 
include "modules/end.html"
