include "modules/header.html"

<div class="container main-content">
	<div class="row">
		<div class="col-sm-12">
			<h1>Velvo Väli</h1>
			<h4>Sihtasutuse juhataja</h4>
		</div><!--.col-sm-12-->
	</div><!--.row-->
	<div class="row">
		<div class="col-sm-4 grid-right">
			<div class="sidebar-component">
				<div class="sidebar-item">
					<img src="assets/img/inimene-1.jpg" class="sidebar-img">
				</div><!--.sidebar-item-->
				<div class="sidebar-item">
					<p>email@email.com</p>
					<p>+372 87654321</p>
				</div><!--.sidebar-item-->
			</div>
		</div><!--.col-sm-4-->
		<div class="col-sm-8 grid-main">
			<div class="description-component">
				<div class="description-item">
					<p>Töötab Rakvere Teatris 1996. aastast, 1996-2013 näitleja ametikohal, alates 01. juunist 2013 sihtasutuse juhataja.</p>
					<p>Teatri loomenõukogu liige</p>
				</div><!-- .description-item -->
				<div class="description-item">
					<h4>Muud tegemised</h4>
					<p>Eesti Näitlejate Liidu aseesimees 2006 - 2013</p>
					<p>Rakvere Linnavolikogu liige</p>
				</div><!-- .description-item -->
				<div class="description-item">
					<h4>Haridus</h4>
					<p>Saaremaa Ühisgümnaasium 1992</p>
					<p>EMTA Lavakunstikooli XVII lend 1996</p>
				</div><!-- .description-item -->
				<div class="description-item">
					<h4>Tunnustus</h4>
					<p>Rakvere Teatri kolleegipreemia 2014, 2015, 2016</p>
					<p>Eesti Teatriliidu aastaauhind 2015</p>
					<p>Eesti Teatriliidu aastaauhindade nominent 2016</p>
					<p>Rakvere Teatri loomenõukogu preemia 2015</p>
					<p>Rakvere Teatri kolleegipreemia 2014, 2015, 2016</p>
					<p>Eesti Teatriliidu aastaauhind 2015</p>
				</div><!-- .description-item -->
			</div><!-- .description-component -->
			<div class="media-component">
				<h2>Meediakajastused</h2>
				<div class="media-item">
					<a href="#">
						<h4>Artikli pealkiri, lorem ipsum dolor sit amet</h4>
					</a>
					<p id="media-source">Virumaa Teataja</p>
					<p id="media-date">12.03.2017</p>
				</div>
				<div class="media-item">
					<a href="#">
						<h4>Artikli pealkiri, lorem ipsum dolor sit amet</h4>
					</a>
					<p id="media-source">Virumaa Teataja</p>
					<p id="media-date">12.03.2017</p>
				</div>
				<div class="media-item">
					<a href="#">
						<h4>Artikli pealkiri, lorem ipsum dolor sit amet</h4>
					</a>
					<p id="media-source">Virumaa Teataja</p>
					<p id="media-date">12.03.2017</p>
				</div>
			</div><!-- .media-component -->
			<div class="roles-component">
				<h2>Praegused rollid</h2>
				<table class="table table-roles">
					<tbody>
						<tr>
							<td>2017</td>
							<td><p>Sina maga, mina pesen nõud</p><p id="author">Stig Claesson "Sov du så diskar jag"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
						<tr>
							<td>2017</td>
							<td><p>Hullemast hullem</p><p id="author">H. Lewis, J. Sayer, H. Shields "The Play That Goes Wrong"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
						<tr>
							<td>2017</td>
							<td><p>Sina maga, mina pesen nõud</p><p id="author">Stig Claesson "Sov du så diskar jag"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
						<tr>
							<td>2017</td>
							<td><p>Hullemast hullem</p><p id="author">H. Lewis, J. Sayer, H. Shields "The Play That Goes Wrong"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
					</tbody>
				</table><!-- .table .table-roles -->
			</div> <!-- .current-component -->
			<div class="roles-component">
				<h2>Varasemad rollid</h2>
				<table class="table table-roles">
					<tbody>
						<tr>
							<td>2017</td>
							<td><p>Sina maga, mina pesen nõud</p><p id="author">Stig Claesson "Sov du så diskar jag"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
						<tr>
							<td>2017</td>
							<td><p>Hullemast hullem</p><p id="author">H. Lewis, J. Sayer, H. Shields "The Play That Goes Wrong"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
						<tr>
							<td>2017</td>
							<td><p>Sina maga, mina pesen nõud</p><p id="author">Stig Claesson "Sov du så diskar jag"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
						<tr>
							<td>2017</td>
							<td><p>Hullemast hullem</p><p id="author">H. Lewis, J. Sayer, H. Shields "The Play That Goes Wrong"</p></td>
							<td>Tegelase Nimi</td>
						</tr>
					</tbody>
				</table><!-- .table .table-roles -->
			</div> <!-- .previous-component -->
		</div><!-- .col-sm-8 -->
	</div><!--.row-->
</div><!-- .container .main-content -->

include "modules/footer.html" 
include "modules/end.html"
