include "modules/header-cinema.html"

<!--<div class="container-fluid cover-photo">
	<img src="assets/img/single-production.jpg">
</div><!-- .container-fluid .cover-photo -->
<div class="container main-content">
	<div class="row">
		<div class="col-sm-12">
			<h1>Seltsimees laps</h1>
		</div>
		<!--.col-sm-12-->
	</div>
	<!--.row-->
	<div class="row">
		<div class="col-sm-4 grid-right">
			<div class="sidebar-component">
				<div class="sidebar-item production-crew">
					<!--<h2></h2>-->
					<p><b>Režissöör: </b>Moonika Siimets</p>
					<p><b>Osades: </b>Helena Maria Reisner, Tambet Tuisk, Eva Koldits, Juhan Ulfsak, Liina Vahtrik, Lembit Peterson, Maria Klenskaja, Julia Aug, Maria Avdjushko</p>
				</div><!--.sidebar-item-->
				<div class="sidebar-item">
					<img src="assets/img/movie-poster_670x250px.jpg" class="sidebar-img">
				</div><!--.sidebar-item-->
				<div class="sidebar-item">
					<p>Jaga:</p>
					<img src="assets/img/fb-black.png">
					<img src="assets/img/tw-black.png">
				</div><!--.sidebar-item-->
			</div>
		</div><!--.col-sm-4-->
		<div class="col-sm-8 grid-main">
			<div class="description-component">
				<p>On aasta 1950 Nõukogude Eestis ning stalinlik terroriaparaat töötab täistuuridel – kuueaastase Leelo silme all arreteeritakse tema koolidirektorist ema. “Kui sa oled hea laps, siis tulen ma varsti tagasi,” on ema viimased sõnad, kui ta püssimeeste vahel ära viiakse.</p>
				<p>Leelo püüabki kõigest väest hästi käituda, aga ema ei tule ikka koju. Nii sugeneb lapse hinge hirm, et just tema on ema äraviimises süüdi. Mõistmatus aina süveneb, sest “heal” ja “halval” pole sellel segasel ajal justkui enam õiget tähendust. Miks on sinimustvalge ühtäkki keelatud? Kes on rahvavaenlane ja miks hirmus enkaveedeelane ümber nende kodu luusib? Kas pioneer olla on au- või häbiasi?</p>
				<p>Selles kummalises kahepalgelises maailmas püüab Leelo ema tagasituleku nimel olla võimalikult tubli, kuid satub üha uutesse sekeldustesse ning aina segasem näib seegi, mida hea laps olemine tegelikult tähendab.</p>
				<p>Režissöör Moonika Siimetsa esimene täispikk mängufilm põhineb armastatud kirjaniku Leelo Tungla autobiograafilistel romaanidel “Seltsimees laps ja suured inimesed” ja “Samet ja saepuru”. Paralleelselt filmiga valmib kirjanikul triloogia viimane osa.</p>
				<p>Film valmib Eesti Vabariigi 100. sünnipäevaks.</p>
			</div>
			<div class="upcoming-component">
				<h2>Järgmised seansid</h2>
				<table class="table table-schedule">
					<tbody>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td>Kommentaar</td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>18:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td>Teine algusaeg!</td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
					</tbody>
				</table><!-- .table .table-schedule -->
				<button type="button" class="btn btn-primary">Näita kõike &#x025BE</button>
			</div><!-- .upcoming-component -->
			<div class="video-component">
				<h2>Videod</h2>
				<iframe src="https://www.youtube.com/embed/yDzvbbt3k54" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<iframe src="https://www.youtube.com/embed/EDNMJIwFMAg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div><!-- .video-component -->
			<div class="gallery-component">
				<h2>Galerii</h2>
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
			</div><!-- .gallery-component -->
		</div><!-- .col-sm-8 -->
	</div><!--.row-->
</div><!-- .container .main-content -->

include "modules/footer.html" 
include "modules/end.html"
