include "modules/header.html"

<div class="container-fluid cover-photo">
	<img src="assets/img/single-production.jpg">
</div><!-- .container-fluid .cover-photo -->
<div class="container main-content">
	<div class="row">
		<div class="col-sm-12">
			<h1>Lendas üle käopesa</h1>
		</div><!--.col-sm-12-->
	</div><!--.row-->
	<div class="row">
		<div class="col-sm-4 grid-right">
			<div class="sidebar-component">
				<div class="sidebar-item production-crew">
					<h3>Lavastusmeeskond</h3>
					<p><b>Lavastaja: </b>Eili Neuhaus</p>
					<p><b>Kunstnik: </b>Kristi Leppik
						<p/>
						<p><b>Valguskujundaja: </b>Arne Maasi</p>
						<p><b>Tõlkija: </b>Mati Soomre</p>
						<p><b>Osades: </b>Üllar Saaremäe, Margus Grosnõi, Grete Jürgenson, Ülle Lichtfeldt, Märten Matsu, Madis Mäeorg, Eduard Salmistu, Toomas Suuman, Tarvo Sõmer, Tarmo Tagamets</p>
				</div><!--.sidebar-item-->
				<div class="sidebar-item">
					<img src="assets/img/show-pic-2.png" class="sidebar-img">
				</div><!--.sidebar-item-->
				<div class="sidebar-item">
					<p>Jaga:</p>
					<img src="assets/img/fb-black.png">
					<img src="assets/img/tw-black.png">
				</div><!--.sidebar-item-->
			</div><!-- .sidebar-component -->
		</div><!--.col-sm-4 .grid-right -->
		<div class="col-sm-8 grid-main">
			<div class="description-component">
				<p>Maailm kuulub tugevatele. Jänes teab hundi jõudu ja poeb põõsasse. Elu koosneb lihtsatest valikutest – olla jänes või hunt. Kõik ei ole siiski nii nagu meile tundub. Sageli on julge hundi rinnus arglik jänku ja arglik jänku võib kasvada suureks hundiks.</p>
				<p>Tegevus leiab aset 60ndate Ameerika hullumajas. Peategelane Randle McMurphy pole lihtsalt huligaan, kes satub vangla asemel hullumajja. Ta on elumees, kes kukub alati jalgadele. Ootamatult leiab ta enda vastast kindlakäelise õde Ratchedi, kes valitseb jäigalt suletud psühhiaatriaosakonda.</p>
				<p>Eili Neuhaus: „Inimese hing ihkab vabadust ja lendutõusmist. Kuid vabadus tähendab ka vastutust. Rohkem kui kunagi varem tuleb meil otsida kurjuse tagant headust, pimeduse tagant valgust, hukkamõistu asemel armastust.”</p>
				<p>Dale Wassermani dramatiseeringu aluseks on Ken Kesey samanimeline romaan.</p>
				<p>Esietendus 6. oktoobril 2017</p>
			</div>
			<div class="upcoming-component">
				<h2>Järgmised etendused</h2>
				<table class="table table-schedule">
					<tbody>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Suur Saal</td>
							<td>1h 45'</td>
							<td>Kommentaar</td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Suur Saal</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Mingi Huvi- ja Kultuurikeskus</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>18:00</td>
							<td>Suur Saal</td>
							<td>1h 45'</td>
							<td>Teine algusaeg!</td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Teatrikino</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
						<tr>
							<td>13. nov</td>
							<td>19:00</td>
							<td>Suur Saal</td>
							<td>1h 45'</td>
							<td></td>
							<td><a href="#">Osta pilet ></a></td>
						</tr>
					</tbody>
				</table><!-- .table .table-schedule -->
				<button type="button" class="btn btn-primary">Näita kõike &#x025BE</button>
			</div><!-- .upcoming-component -->
			<div class="media-component">
				<h2>Meediakajastused</h2>
				<div class="media-item">
					<a href="#">
						<h4>Artikli pealkiri, lorem ipsum dolor sit amet</h4>
					</a>
					<p id="media-source">Virumaa Teataja</p>
					<p id="media-date">12.03.2017</p>
				</div>
				<div class="media-item">
					<a href="#">
						<h4>Artikli pealkiri, lorem ipsum dolor sit amet</h4>
					</a>
					<p id="media-source">Virumaa Teataja</p>
					<p id="media-date">12.03.2017</p>
				</div>
				<div class="media-item">
					<a href="#">
						<h4>Artikli pealkiri, lorem ipsum dolor sit amet</h4>
					</a>
					<p id="media-source">Virumaa Teataja</p>
					<p id="media-date">12.03.2017</p>
				</div>
			</div><!-- .media-component -->
			<div class="video-component">
				<h2>Videod</h2>
				<iframe src="https://www.youtube.com/embed/EDNMJIwFMAg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				<iframe src="https://www.youtube.com/embed/EDNMJIwFMAg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
			</div><!-- .video-component -->
			<div class="gallery-component">
				<h2>Galerii</h2>
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
				<img src="assets/img/news-1.jpg">
			</div><!-- .gallery-component -->
		</div><!-- .col-sm-8 .grid-main -->
	</div><!--.row-->
</div><!-- .container .main-content -->

include "modules/footer.html" 
include "modules/end.html"
