<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="assets/img/rakvereteater_logo.svg" alt="Rakvere Teatri logo">
			</div>
			<div class="col-sm-3">
				<p>Kreutzwaldi 2a, Rakvere, 44314, Eesti</p>
				<p>rakvereteater@rakvereteater.ee</p>
				<p>+372 87654321 (kassa)</p>
				<p>+372 87654321 (valvelaud/kohvik)</p>
				<p>+372 87654321 (tellimused kohvikule)</p>
				<a href="contact.html" class="content-link">
					<p>ASUKOHT JA PARKIMINE ></p>
				</a>
			</div>
			<div class="col-sm-3">
				<p>Jälgi meid sotsiaalmeedias:</p>
				<a href="#"><img src="assets/img/fb-white.svg" id="social-icon" alt="Facebook ikoon"></a>
				<a href="#"><img src="assets/img/insta-white.svg" id="social-icon" alt="Instagram ikoon"></a>
			</div>
			<div class="col-sm-3">
				<p>Liitu uudiskirjaga:</p>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2 input-subscribe" type="search" placeholder="Sisesta e-mail" aria-label="Search">
					<button type="button" class="btn btn-secondary btn-sm">Liitu</button>
				</form>
			</div>
		</div>
	</div>
</div>
